/*
 IMPORTANT: Look at the bottom of the file to see the classes you may have to use
 */

/*
 Rest of the style
 */

body {
  font-family: "Helvetica Neue", sans-serif;
  max-width: 33rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  margin-top: 30px;
}

.title {
  margin: 0;
  text-align: center;
  letter-spacing: 0.15rem;
  border-bottom: 2px solid #D4D4D4;
}

#errors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 80px;
  width: min(100vw, 33rem);
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.attempt {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.letter {
  font-size: 2.25rem;
  line-height: 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #D4D4D4;
  margin: 0;
  text-align: center;
}

footer {
  margin-bottom: 40px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5rem 0.25rem;
}

.key {
  grid-column: span 2;
  background: #d3d6da;
  border: none;
  border-radius: 0.25rem;
  line-height: 1.25rem;
  height: 3.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.key:hover {
  transform: scale(1.02);
}
.key:active {
  transform: scale(0.98);
}

.enter, .delete {
  grid-column: span 3;
}

.delete {
  font-size: 1.1rem;
}

/*
 Important classes that you may have to use
 */

.filled {
  border-color: #737373;
}

.absent {
  background: #787c7e;
  border-color: #787c7e;
  color: white;
}

.present {
  background: #c9b458;
  border-color: #c9b458;
  color: white;
}

.correct {
  background: #6aaa64;
  border-color: #6aaa64;
  color: white;
}

.error-message {
  margin: 0;
  border-radius: 0.25rem;
  padding: 10px 20px;
  background: black;
  color: white;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.visible {
  opacity: 1;
}